@font-face {
	font-family: 'Montserrat Black';
	src: url('/assets/fonts/Montserrat-Black.ttf');
	font-weight: bold;
  }

  @font-face {
	font-family: 'Lexend Deca';
	src: url('/assets/fonts/LexendDeca-Black.ttf');
	font-weight: bold;

  }


  @font-face {
	font-family: 'Lexend Deca';
	src: url('/assets/fonts/LexendDeca-Regular.ttf');
	font-weight: normal;

  }


  @font-face {
	font-family: 'PT Mono';
	src: url('/assets/fonts/PTMono-Regular.ttf');
	font-weight: bold;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-white;
}

html,
body,
#__next {
	@apply flex flex-col flex-grow min-h-screen;
}

html {
	scroll-behavior: smooth;
  }

