@font-face {
	font-family: 'Montserrat Black';
	src: url('../assets/fonts/Montserrat-Black.ttf');
	font-weight: bold;
  }

  @font-face {
	font-family: 'Lexend Deca';
	src: url('../assets/fonts/LexendDeca-Black.ttf');
	font-weight: bold;

  }


  @font-face {
	font-family: 'Lexend Deca';
	src: url('../assets/fonts/LexendDeca-Regular.ttf');
	font-weight: normal;

  }


  @font-face {
	font-family: 'PT Mono';
	src: url('../assets/fonts/PTMono-Regular.ttf');
	font-weight: bold;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	background-color: #059669 !important;
}

/* body, .ion-page {
	@apply bg-background !important;
} */

ion-tab-bar {
	@apply h-16 bg-white;
	background-color: white;
}

ion-tab-bar, ion-tab-button {
	@apply h-16 bg-white;
	background-color: white;
}

.tab-selected {
	-webkit-box-shadow: inset 0px 2px 0px 0px #059669;
	-moz-box-shadow: inset 0px 2px 0px 0px  #059669;
	box-shadow: inset 0px 2px 0px 0px  #059669;
}

.u-card {
	@apply md:bg-white md:rounded-2xl md:shadow-2xl md:shadow-emerald-900/20 md:p-6;
}

.u-card-mobile {
	@apply bg-white rounded-2xl shadow-2xl shadow-emerald-900/20 p-6;
}

ion-footer::before {
	@apply bg-none !important;
}

ion-content::part(scroll) {
	@apply flex flex-col;
}

.walletconnect-modal__mobile__toggle a {
	@apply text-black;
}

.ion-no-card-shadow {
	box-shadow: none !important;
}
