:root {
	--ion-color-primary: #059669;
	--ion-color-primary-rgb: 5,150,105;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #04845c;
	--ion-color-primary-tint: #1ea178;

	--ion-color-secondary: #ffffff;
	--ion-color-secondary-rgb: 255,255,255;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e0e0e0;
	--ion-color-secondary-tint: #ffffff;

	--ion-color-tertiary: #064e3b;
	--ion-color-tertiary-rgb: 6,78,59;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #054534;
	--ion-color-tertiary-tint: #1f604f;

	--ion-color-success: #22c55e;
	--ion-color-success-rgb: 34,197,94;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #1ead53;
	--ion-color-success-tint: #38cb6e;

	--ion-color-warning: #eab308;
	--ion-color-warning-rgb: 234,179,8;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #ce9e07;
	--ion-color-warning-tint: #ecbb21;

	--ion-color-danger: #ef4444;
	--ion-color-danger-rgb: 239,68,68;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #d23c3c;
	--ion-color-danger-tint: #f15757;

	--ion-color-medium: #9ca3af;
	--ion-color-medium-rgb: 156,163,175;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #898f9a;
	--ion-color-medium-tint: #a6acb7;

	--ion-color-light: #ecfdf5;
	--ion-color-light-rgb: 236,253,245;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d0dfd8;
	--ion-color-light-tint: #eefdf6;

	/* Set the font family of the entire app */
	--ion-font-family: 'Plus Jakarta Sans', 'ui-sans-serif', sans-serif;
	--ion-statusbar-padding: 4rem;
	--ion-text-color: #064e3b;
	--ion-text-color-rgb: 6 78 59;
	--ion-overlay-background-color: #F8F6F2;

	--ion-background-color: #F8F6F2;
}
